body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.product-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.product-images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-images img:hover {
    transform: scale(1.05);
}

.product-image {
    margin-right: 20px;
}

.product-images img {
    max-width: 600px;
    height: 600px;
    max-height: 600px;
    object-fit: cover;
}

.product-details {
    max-width: 480px;
}

.product-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    margin-bottom: 10px;
}

.abc {
    font-size: 16px;
    margin-bottom: 5px;
}

.add-to-cart {
    background-color: #f6dd00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-bidcart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-bidcart:hover,
.add-to-cart:hover {
    background-color: #15d264;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

.assa {
    margin-top: 32px;
}

.inas {
    margin-top: 70px;
}

.clock {
    width: 650px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: scale(0.5);
}

.clocktitle {
    margin-top: 55px;
}

.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    font-weight: bold;
}

.review-content {
    margin-top: 15px;
}

.review-footer {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}