* {
  color: #2f2f2f;
}
.welcome_container,.main_1{
  width: 100%;
  height: calc(100vh - 62px);
}
.welcome__container {
  height: auto;
  min-height: 50vh;
}
.pro1{
  /* display: flex; */
  width: 264px;
  height: 325px;
  margin-left: 15px;
  /* border: 1px solid blue; */
}
.aa{
  width: 100%;
  height: 226px;

}
.aa img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bb{
  width: 100%;
  height: calc(100% - 226px);
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}
.bbfirst{
  margin-top: 10px;
  width: 100%;
  /* height: 50%; */
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  /* border: 1.8px solid rgb(3, 36, 254); */
}
.main_1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lakhelu{
  
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 450px;
  height: 250px;
  opacity: 90%;
  background-color:#01233C;
}

.imagevalo{
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.carimage{
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;  
  object-fit: cover;
}

.explore {
  font-size: 14px;margin-top: 50px;margin-left: 25px;margin-right: 25px;
  
  color: #fcbf49;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore:hover {
  transition: all 0.3s ease;
  color: #f5bc72;
}
.explore:active {
  transition: all 0.3s ease;
  color: #fcbf49;
 
}

#loader h1 {
  color: #fff;
}

.ad {
  display: flex;
  gap: 25px;
}

.avade span {
  font-size: 30px;
  color: #fff;
  display: inline-block;
}

#loader {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  color: #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.popolar,.todaybest{
   /* border: 1px solid #410000; */
   padding: 10px 75px; 
}

.popular_first,.todayfirst{
   display: flex;      
   flex-direction: column;                      
   align-items: center;
   justify-content: space-between;
}
.popular_second{
   margin-top: 45px;
   display: flex;
   overflow: scroll;
}

.popular_second::-webkit-scrollbar{
  display: none;
}

.choktha_first{
   width: 150px;
   height: 150px;
   /* border: 1px solid #000; */
}

.choktha_first img{
   object-fit: cover;
   width: 150px;
   height: 150px;
   /* border: 1px solid #000; */
}

.choktha{
   /* border: 1px solid #0011ff; */
   margin-right: 25px;
}

.chok{
   margin-top: 5px;
   font-weight: bolder;
}
.todaysecond{
  display: flex;
  margin-top: 45px;
  gap:40px;
}
.todaysecond-first{
  width: 50%;
  height: 400px;
  
}
.ona{
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}
.onna{
  position: absolute;
  margin-top: 20px;
  margin-left: 25px;
}

.ona h3,.onna h4{
 color: #fff;

}

.todaysecond-first img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  
}
.todaysecond-second{
  width: 50%;
  /* border: 1px solid #000; */
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.second-1{
  height: 50%;
  width: 50%;
  /* border: 1px solid #e00000; */
}
.second-1 img{
  padding: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 1px solid #e00000; */
}

.rect{
  position: relative;
  left: 49.8%;
  transform: translateX(-50%);
  margin-top: 60px;
  width: 1365px;
  height: 310px;
}

.rect img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.upcoming_second{
  /* border: 1px solid #000; */
  margin-top: 45px;
  display: flex;
  /* overflow: scroll; */
}


.lala{
  margin-top: 25px;
  font-family: serif;
  font-weight: bolder;
}
.bidbutton{
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  padding: 5px 110px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  font-weight:600;
}

.bidbutton:hover{
  color: #fff;
  background-color: #474747;
  transition: 0.4s all ease;
  border: 0;
}
.bidbutton:active{
  color:black;
  background-color: #757474;
  transition: 0.2s all ease;
  border: 0;
}


@media (max-width: 768px) {
  .main_1{
    width: 100vw;
    height: 300px;
  }
  .welcome_container{
    width: 100vw;
    height: auto;
  }
  .lakhelu{
    position: absolute;
    top:30%;
    transform-origin: right;
    overflow: auto;
    transform: scale(0.5);
  }

  #loader {
    font-size: 21px;
  }
  .container_textandimg {
    position: relative;
    top: 0;
    width: 100vw;

  }
  .second_text {
    width: 0;
    height: 0;
  }
  .first_text {
    /* border: 1px solid #000; */
    width: 100%;
  }
  .as {
    display: none;
  }
  .pehlu h1 {
    font-size: 6vw;
    min-width: 90px;
    line-height: 7vw;
  }
  .biju {
    /* line-height:15px; */
    min-width: 90px;
    margin-top: 25px;
    /* font-size: 15vw; */
  }
  .biju p {
    line-height: 10px;
    min-width: 90px;
    font-size: 10px;
  }
  .explore {
    border: 2px solid #89d9d0;
    background-color: transparent;
    color: #89d9d0;
    padding: 7px 20px;
    font-size: 2.5vw;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .swiper-pagination,.swiper-button-prev ,.swiper-button-next{
    display: none;
  }


}


